.clothes-section {
    display: flex;
    flex-direction: column;
     margin-top: 47px;
}

.clothes-section__row {
    display: flex;
    gap: 20px;
  
    padding: 0;
    height: 56px;
    align-items: center;
}

.clothes-section__text {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.clothes-section__btn {
    width: 88px;
    height: 25px;
    font-size: 20px;
    margin: 0;
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.6);
    padding: 0;
}

.clothes-section__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin-top: 16px;
    list-style-type: none;
}
