.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 229px;
    align-items: baseline;
    margin-top: 47px;
    font-size: 20px;
}

.sidebar__row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
    height: 56px;
    padding: 0;
}

.sidebar__userName {
    font-size: 20px;
}

.sidebar__avatar {
    width: 56px;
    height: 56px;
    align-self: center;
    border-radius: 50%;
}

.sidebar__edit-profile {
    margin-top: 24px;
    margin-bottom: 8px;
    border: none;
    background-color: white;
}

.sidebar__logout {
    border: none;
    background-color: white;
}

@media screen and (max-width: 640px) {
    .sidebar {
        display: none !important;
    }
}
