.modal__error {
    display: block;
    color: #ff4d4f;
    font-size: 12px;
    margin-top: -18px;
    margin-bottom: 0;
    font-weight: 400;
}

.modal__input_type_error {
    border-color: #ff4d4f;
}

.modal__input {
    margin-top: 8px;
    border: none;
    padding: 0;
}
.modal__input:focus {
    outline: none;
}

.modal__actions {
    display: flex;
    gap: 11px;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 8px;
}

.modal__submit-btn {
    width: auto;
    min-width: 0;
    padding: 8px 16px;
    margin-top: 0;
}
.modal__submit-btn_disabled {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;
}

.modal__submit-btn_disabled:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__extra {
}

.modal__extra-link {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-decoration: none;
    padding: 0;
}

.modal__extra-link:hover {
    color: #000;
}
