.main__card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: center;
}
.main__text {
    font-size: 20px;
}

@media screen and (max-width: 627px) {
    .main__card-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }
    .main__text {
        font-size: 16px;
    }
}
