.modal {
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 0 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s opacity 0.5s linear;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_is-opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal__container {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    max-width: 498px;
    max-height: 610px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
}

.modal__image {
    display: block;
}

.modal__close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    background-color: transparent;
    height: 20px;
    width: 20px;
}

.modal__footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 32px 32px;
}
.modal__text {
    font-size: 20px;
    margin: 0;
}

.modal__fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.modal__fieldset_type_radio {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal__label {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.5);
}

.modal__radio-btn:checked + .modal__label {
    color: rgba(0, 0, 0, 1);
}

.modal__input {
    display: block;
    border: none;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    margin-bottom: 24px;
}

.modal__legend {
    margin-bottom: 12px;
}

.modal__radio-btn {
    margin-right: 8px;
    accent-color: rgba(0, 0, 0, 1);
}

/* Specific form styles */

.modal__container_type_form {
    max-width: 496px;

    width: 100%;
    padding: 28px 28px 36px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.modal__title {
    font-size: 16px;
    margin: 0 0 24px;
}
.modal__submit-btn {
    margin-top: 32px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    width: 124px;
    height: 36px;
}

.modal__submit-btn:hover {
    background-color: (255, 255, 255, 1);
}

.modal__submit-btn_disabled {
    background-color: rgba(0, 0, 0, 0.3);
}
