.delete-confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    z-index: 2000;
}

.delete-confirmation-modal_is-opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.delete-confirmation-modal__container {
    position: relative;
    max-width: 670px;
    max-height: 280px;
    padding: 60px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}

.delete-confirmation-modal__close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
}

.delete-confirmation-modal__title {
    margin: 0;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
}

.delete-confirmation-modal__text {
    margin: 0;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
}

.delete-confirmation-modal__buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    margin-top: 40px;
}

.delete-confirmation-modal__confirm-btn {
    color: rgba(255, 77, 0, 1);
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.delete-confirmation-modal__cancel-btn {
    color: rgba(0, 0, 0, 1);
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
