.card {
    position: relative;
    width: 325px;
    height: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__title {
    position: absolute;
    align-self: center;
    top: 15px;

    border: none;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    font-size: 16px;
    padding: 2px 12px;
}

.card__image {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    object-fit: cover;
    border-color: rgba(0, 0, 0, 0.3);
}
