.header {
    display: flex;
    max-width: 1360px;
    height: 40px;
    font-size: 20px;
    justify-content: space-between;
}

.header__side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__logo {
    margin-right: 24px;
}

.header__add-clothes-btn {
    margin: 0 20px;
    background-color: transparent;
    border: none;
    height: 40px;
    padding: 0;
    font-size: 20px;
}

.header__auth-btn {
    border: none;
    background: none;
}

.header__profile-link {
    display: flex;
    color: #000;
    text-decoration: none;
}
.header__userName {
    margin-right: 12px;
}

.header__avatar {
    width: 40px;
    height: 40px;
    align-self: center;
}

.header__avatar-placeholder {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}
