.weather-card {
    height: 80px;
    margin-top: 28px;
    margin-bottom: 40px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.weather-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right top;
}

.weather-card__temp {
    position: absolute;
    bottom: 20px;
    left: 16px;
    font-size: 36px;
    line-height: 1.1;
    margin: 0;
}

@media screen and (max-width: 640px) {
    .weather-card__temp {
        font-size: 24px;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }
    .weather-card {
        width: 100%;
        height: 50px;
        margin-top: 36px; /* increased space above */
        margin-bottom: 20px;
    }
}
